<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Basic usage</h2>
      <app-table
        *ngIf="!!columns.length && !!persons.length"
        [columns]="columns"
        [rows]="persons"
        [pageSize]="25"
        [defaultSortDirection]="'asc'"
        [defaultSortProp]="'lastName'"
        (rowClick$)="rowClick($event)"
      ></app-table>
    </div>
  </div>

  <ng-template #options let-row>
    <button (click)="edit($event, row)"><i class="fas fa-pen"></i></button>
    <button (click)="delete($event, row)"><i class="fas fa-trash"></i></button>
  </ng-template>
</div>
