@import "./variables.scss";
@import "~bootstrap/scss/bootstrap-grid";
@import "./components/_table.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "./cdk.scss";
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
}
